<table style="width: 100%;height: 5%;">
  <tr>
    <td style="width: 80%;background-color:rgb(245, 207, 145);"> <span style="font-size: 45px;color:rgb(218, 65, 65);margin-left: 20%;">CAB BOOKING APP</span>
   
    <a href="#">login</a>/
    <a href="#" style="margin-left: 10px;"> signup</a>
  </td>
</tr>
    
    
    <table style=" width: 100%;height:30%;background-color: rgb(230, 156, 222);">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/adddriver"> Driver details</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/viewdriverDetails"> View driver Details</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/viewbestdrivers"> Filter Best drivers </a>  </td>
    <!-- <td style="width: 15%; text-align: center;">  <a routerLink="/cancelride"> Assign Trip </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/cancelride"> Cancel Trip </a>  </td> -->
    <!-- <td style="width: 15%; text-align: center;">  <a routerLink="/rating">Rating </a>  </td> -->
    <!-- <td style="width: 15%; text-align: center;">  <a routerLink="/driverindb">Driver in DB </a>  </td> -->
    
  </tr>
</table>
<hr/>
<router-outlet></router-outlet>