<h1> Driver Details </h1>
    
    <form (ngSubmit)="onSubmit()" #bookingDetailsForm="ngForm">
      <tr>
      <div class="form-group">
        <label for="name">Enter Driver Name</label>
        <input type="text" class="form-control" id="name" name="name"
               [(ngModel)]="c.driverName" placeholder="Enter Name " #name="ngModel"  pattern="[a-zA-Z]+" required>

               <div *ngIf="driverName.invalid">
                <span style="color: red;" *ngIf="name.errors?.['required']">

                    Enter Valid Name
                </span>
                <span style="color: red;" *ngIf="name.errors?.['pattern']">
                  Name is not valid.
                </span>

            </div>
        
      </div>
    </tr>
    <br><br>
      
    <br><br>

    <tr>
        <div class="form-group">
          <label for="licenceNo">Licence Number</label>
          <input type="text" class="form-control" id="licenceNo" name="licenceNo"
          [(ngModel)]="c.licenceNo" required>
                    
        </div>
      </tr>
      <br><br>
   
    <br><br>
     <div class="form-group">
                     <label for="rating">Rating</label>
                    <input type="text" class="form-control" id="rating" name="rating"
                           [(ngModel)]="c.rating" placeholder="Enter Rating"  #rating="ngModel" required pattern="[0-9]+">
                      <div *ngIf="rating.invalid">
                          <span style="color: red;" *ngIf="rating.errors?.['required']">
          
                             Please Enter Valid Rating
                          </span>
                          <span style="color: red;" *ngIf="rating.errors?.['pattern']">
                            Rating is not valid.
                          </span>
                        </div>
                  </div>
    <br><br>
    <tr>
        <div class="form-group">
          <label for="category">Category</label>
          <input type="text" class="form-control" id="category" name="category"
                 [(ngModel)]="c.category" placeholder="Enter Category Eg: Micro/Prime/Rental/Women's" required>
        </div>
      </tr>
      <br><br>

       <br><br>

    <tr>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" name="city"
          [(ngModel)]="c.city" required>
                    
        </div>
      </tr>
      <br><br>
       <br><br>

      <tr>
        <div class="form-group">
          <label for="experience">Experience</label>
          <input type="text" class="form-control" id="experience" name="experience"
                 [(ngModel)]="c.experience" placeholder="Experience of Driver"  #experience="ngModel" required pattern="[0-9]+">    
            <div *ngIf="experience.invalid">
                <span style="color: red;" *ngIf="experience.errors?.['required']">
                 Enter Valid Experience
                </span>
                <span style="color: red;" *ngIf="experience.errors?.['pattern']">
                  Experience is not valid.
                </span>

            </div>
          
        </div>
      </tr>
      <br><br>
      
      <br><br>

      <tr>
          <div class="form-group">
            <label for="nativeLanguage">Native Language</label>
            <input type="text" class="form-control" id="nativeLanguage" name="nativeLanguage"
            [(ngModel)]="c.nativeLanguage" required>
                      
          </div>
        </tr>
        <br><br>

      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
 
  
    <div *ngIf="status == true" class="alert alert-success mt-3">Your details has been submitted successfully.</div>
    <div *ngIf="status == false" class="alert alert-danger mt-3">An error occurred while providing.</div>
   
